/************************************************************
/ Container Control - Dates and Times as CDATE/CTIME         
/
/ Copyright (C) 1994, Law, Leong, Love, Olson, Tsuji.
/ All Rights Reserved.
************************************************************/
#define  INCL_PM
#include <os2.h>
#include "developr.h"

POINTER ID_DEVELOPER   .\..\..\resource\FOLDER.ICO

