/************************************************************
/ Notebook Control - Adding Dialog Pages                     
/
/ Copyright (C) 1994, Law, Leong, Love, Olson, Tsuji.
/ All Rights Reserved.
************************************************************/
#define  INCL_PM
#define  INCL_WININPUT
#define  INCL_HELP
#include <os2.h>
#include "addpages.h"

DLGTEMPLATE ID_DIALOG1 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Dialog1", ID_DIALOG1, 12, 15, 223, 137, NOT
            FS_DLGBORDER
    BEGIN
        LTEXT           "Name: ", 101, 10, 100, 45, 11
        LTEXT           "Address", 102, 10, 78, 46, 11
        LTEXT           "Phone ", 103, 10, 54, 45, 12
        LTEXT           "Age", 104, 10, 31, 44, 10
        ENTRYFIELD      "", 105, 66, 102, 98, 8, ES_MARGIN
        ENTRYFIELD      "", 106, 66, 79, 98, 7, ES_MARGIN
        ENTRYFIELD      "", 107, 66, 56, 98, 8, ES_MARGIN
        ENTRYFIELD      "", 108, 66, 35, 98, 6, ES_MARGIN
        DEFPUSHBUTTON   "Help", 1029, 12, 7, 40, 14, BS_HELP
        PUSHBUTTON      "Undo", 1030, 55, 7, 40, 14
        PUSHBUTTON      "Default", 1031, 98, 7, 40, 14
    END
END

DLGTEMPLATE ID_DIALOG3 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Dialog3", ID_DIALOG3, 12, 15, 223, 137, NOT
            FS_DLGBORDER
    BEGIN
        LTEXT           "Name: ", 101, 10, 100, 45, 11
        LTEXT           "Address", 102, 10, 78, 46, 11
        LTEXT           "Phone ", 103, 10, 54, 45, 12
        LTEXT           "Age", 104, 10, 31, 44, 10
        ENTRYFIELD      "", 105, 66, 102, 98, 8, ES_MARGIN
        ENTRYFIELD      "", 106, 66, 79, 98, 7, ES_MARGIN
        ENTRYFIELD      "", 107, 66, 56, 98, 8, ES_MARGIN
        ENTRYFIELD      "", 108, 66, 35, 98, 6, ES_MARGIN
        DEFPUSHBUTTON   "Help", 1029, 12, 7, 40, 14, BS_HELP
        PUSHBUTTON      "Undo", 1030, 55, 7, 40, 14
        PUSHBUTTON      "Default", 1031, 98, 7, 40, 14
    END
END
