#define INCL_WINFRAMEMGR     // For SC_xxx.
#include <os2.h>

#include "helpwin.h"

MENU ID_MENUBAR
  BEGIN
    SUBMENU "~File",               ID_FILE
      BEGIN
        MENUITEM "Close\tF3",      SC_CLOSE,  MIS_SYSCOMMAND
      END
    SUBMENU "~Help",               ID_HELP
      BEGIN
        MENUITEM "Help ~index",    SC_HELPINDEX, MIS_SYSCOMMAND
        MENUITEM "~General help",  SC_HELPEXTENDED,
                                                MIS_SYSCOMMAND
        MENUITEM "~Using help",    ID_USINGHELP
        MENUITEM "~Keys help",     SC_HELPKEYS, MIS_SYSCOMMAND
        MENUITEM "~Tutorial",      ID_TUTORIAL
        MENUITEM SEPARATOR
        MENUITEM "~Product information", ID_PRODUCTINFO
      END
  END

HELPTABLE ID_HELPTABLE
  BEGIN
    HELPITEM ID_PRIMARY,
                   SUBTABLE_PRIMARY,        PANEL_PRIMARY
    HELPITEM ID_PRIMARY2,
                   SUBTABLE_PRIMARY2,       PANEL_PRIMARY2
    HELPITEM ID_SECONDARY_MODELESS
                   SUBTABLE_SEC_MODELESS,   PANEL_SEC_MODELESS
    HELPITEM ID_SECONDARY_MODAL
                   SUBTABLE_SEC_MODAL,      PANEL_SEC_MODAL
    HELPITEM ID_CHILD_MODELESS
                   SUBTABLE_CHILD_MODELESS, PANEL_CHILD_MODELESS
    HELPITEM ID_CHILD_MODAL
                   SUBTABLE_CHILD_MODAL,    PANEL_CHILD_MODAL
  END

HELPSUBTABLE SUBTABLE_PRIMARY
  BEGIN
    HELPSUBITEM ID_LISTBOX,       PANEL_LISTBOX
    HELPSUBITEM ID_FILE,          PANEL_FILE
    HELPSUBITEM SC_CLOSE,         PANEL_CLOSE
    HELPSUBITEM ID_HELP,          PANEL_HELP
    HELPSUBITEM SC_HELPINDEX,     PANEL_HELPINDEX
    HELPSUBITEM SC_HELPEXTENDED,  PANEL_EXTENDEDHELP
    HELPSUBITEM ID_USINGHELP,     PANEL_USINGHELP
    HELPSUBITEM SC_HELPKEYS,      PANEL_KEYSHELP
    HELPSUBITEM ID_TUTORIAL,      PANEL_TUTORIAL
    HELPSUBITEM ID_PRODUCTINFO,   PANEL_PRODUCT_INFO
  END

HELPSUBTABLE SUBTABLE_PRIMARY2
  BEGIN
    HELPSUBITEM ID_ENTRY1,        PANEL_ENTRY1_PRIMARY2
  END

HELPSUBTABLE SUBTABLE_SEC_MODELESS
  BEGIN
    HELPSUBITEM ID_ENTRY1,        PANEL_ENTRY1_SEC_MODELESS
  END

HELPSUBTABLE SUBTABLE_SEC_MODAL
  BEGIN
    HELPSUBITEM ID_ENTRY1,        PANEL_ENTRY1_SEC_MODAL
  END

HELPSUBTABLE SUBTABLE_CHILD_MODELESS
  BEGIN
    HELPSUBITEM ID_ENTRY1,        PANEL_ENTRY1_CHILD_MODELESS
  END

HELPSUBTABLE SUBTABLE_CHILD_MODAL
  BEGIN
    HELPSUBITEM ID_ENTRY1,        PANEL_ENTRY1_CHILD_MODAL
  END
