#include <os2.h>

#include "helpwin2.h"

HELPTABLE ID_HELPTABLE
  BEGIN
    HELPITEM ID_PRIMARY,
                   SUBTABLE_PRIMARY,        PANEL_PRIMARY
    HELPITEM ID_SECONDARY
                   SUBTABLE_SECONDARY,      PANEL_NONE
    HELPITEM ID_PAGE3
                   SUBTABLE_PAGE3,          PANEL_PAGE3
    HELPITEM ID_DIALOG
                   SUBTABLE_DIALOG,         PANEL_DIALOG
  END

HELPSUBTABLE SUBTABLE_SECONDARY
  BEGIN
    HELPSUBITEM ID_ENTRY1,        PANEL_ENTRY1
    HELPSUBITEM ID_ENTRYA,        PANEL_ENTRYA
  END

HELPSUBTABLE SUBTABLE_PAGE3
  BEGIN
    HELPSUBITEM ID_ENTRYX,        PANEL_ENTRYX
  END

HELPSUBTABLE SUBTABLE_DIALOG
  BEGIN
    HELPSUBITEM ID_DIALOG_ENTRY1, PANEL_DIALOG_ENTRY1
  END

rcinclude "helpwin2.dlg"
